{% extends "base.twig" %}

{% block content %}
<div class="content-wrapper">
	<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
		<div class="container-fluid">
			<h2 class="h1"> {{ post.title }} </h2>
			<div class="line mb-20"></div>
		</div>
		<section id="banner" class="pb-banner text-white mb-20">
			{% if post.banner_layout == 'vimeo' %}
				{% set video_landscape = fn('extractOembedUrl', post.get_field('vimeo')) %}
				<a class="bannerslider {% if post.vimeo_mobiel %}d-none d-sm-block{% endif %}" href="{{ video_landscape }}" data-lity>
					<div class="item">
						<div class="vimeo-wrapper landscape">
							<i class="fas fa-play"></i>
							<iframe id="video1" src="{{ video_landscape }}?background=1&autoplay=1&loop=1&byline=0&title=0&muted=1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen "></iframe>
						</div>
					</div>
				</a>
				
				{% if post.vimeo_mobiel %}
					{% set video_portrait = fn('extractOembedUrl', post.get_field('vimeo_mobiel')) %}
					<a class="bannerslider d-sm-none" href="{{ video_portrait }}" data-lity>
						<div class="item">
							<div class="vimeo-wrapper portrait">
								<i class="fas fa-play"></i>
								<iframe id="video1" src="{{ video_portrait }}?background=1&autoplay=1&loop=1&byline=0&title=0&muted=1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen "></iframe>
							</div>
						</div>
					</a>
				{% endif %}
			{% else %}
				<div class="bannerslider js-slick-bannerslider">
					{% for item in post.get_field('slider') %}
						{% if item.acf_fc_layout == 'afbeelding' %}
							<div class="item">
								<div class="fill-space d-flex align-items-center justify-content-center">
									<div class="bg-cover {% if item.afbeelding_mobile %}d-none d-sm-flex{% endif %} align-items-center justify-content-center" style="background-image: url({{ Image(item.afbeelding).src }})">
									</div>
									{% if item.afbeelding_mobile %}
										<div class="bg-cover d-flex d-sm-none align-items-center justify-content-center" style="background-image: url({{ Image(item.afbeelding_mobile).src }})">
										</div>
									{% endif %}
									<div class="caption">{{ Image(item.afbeelding).caption }}</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
			{% if post.banner_formaat == 'toon_fullscreen' %}
				<a href="#section1" class="arrowdown"> <i class="fa fa-chevron-down"></i> </a>
			{% endif %}
		</section>
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 mb-3">
						{% if post.kolom_1 %}
							<div class="line"></div>
							{{ post.get_field('kolom_1') }}
						{% endif %}
					</div>
					<div class="col-md-6">
						{% if upcoming|length > 0 %}
							<div class="line mb-0"></div>
							<div id="theposts" class="upcoming {% if upcoming|length > 3 %}nobottomline{% endif %}">
								{% for item in upcoming %}
									{% if Post(item.project).title == post.title %}
										{% include ['tease-agenda-project.twig'] %}
									{% endif %}
								{% endfor %}
							</div>
						{% else %}
							<div class="line"></div>
							{{ options.geen_agenda_items_voor_project }}
						{% endif %}
						{% if post.words %}
							<div class="words">
								<div class="line"></div>
								{% for item in post.get_field('words') %}
									<div class="word pb-3">
										"{{ item.title }}" <br>
										- {{ item.source }} {% if item.the_link %}
										<a href="{{ item.the_link.url }}" target="{{ item.the_link.target }}" class="blocklink">{{ item.the_link.title }}</a>
										{% endif %}
									</div>
								{% endfor %}
							</div>
						{% endif %}
					</div>
				</div>

				{% if post.credits_kolom_1 or post.credits_kolom_2 %}
					<div class="credits pt-mb-3">
						<div class="line"></div>
						<div class="row mb-md-3">
							{% if post.credits_kolom_1 %}
							<div class="col-md">
								{{ post.get_field('credits_kolom_1') }}
							</div>
							{% endif %}
							{% if post.credits_kolom_2 %}
							<div class="col-md">
								{{ post.get_field('credits_kolom_2') }}
							</div>
							{% endif %}
						</div>
					</div>
				{% endif %}
			</div>
		</section>
	</article>
</div><!-- /content-wrapper -->
{% endblock %}